POSTGRES_DB=online_cinema
POSTGRES_DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres

SECRET_KEY_ACCESS=test_access_secret_key
SECRET_KEY_REFRESH=test_refresh_secret_key
JWT_SIGNING_ALGORITHM=HS256

EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=mailhog
EMAIL_HOST_PASSWORD=mailhog
EMAIL_USE_TLS=False

MAILHOG_USER=
MAILHOG_PASSWORD=

S3_HOST=minio
S3_PORT=9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=avatars

REDIS_HOST=redis
REDIS_PORT=6379

STRIPE_SECRET_KEY=sk_test_dummy
STRIPE_PUBLIC_KEY=pk_test_dummy
STRIPE_WEBHOOK_SECRET=whsec_dummy
STRIPE_SUCCESS_URL=http://localhost:8000/success
STRIPE_CANCEL_URL=http://localhost:8000/cancel

NGINX_BASIC_AUTH_USER=test_user
NGINX_BASIC_AUTH_PASSWORD=test_password
