SECRET_KEY_ACCESS=your_data
SECRET_KEY_REFRESH=your_data

EMAIL_HOST=your_data
EMAIL_PORT=your_data
EMAIL_HOST_USER=your_data
EMAIL_HOST_PASSWORD=your_data
EMAIL_USE_TLS=your_data

S3_HOST=your_data
S3_PORT=your_data
S3_ACCESS_KEY=your_data
S3_SECRET_KEY=your_data
S3_BUCKET_NAME=your_data

STRIPE_SECRET_KEY=your_data
STRIPE_PUBLIC_KEY=your_data
